/* зозвнішній стиль
прив'язка до файлу: link rel="stylesheet" href="./assets/css/style.css" */

/* селектор тегу (селектор елементу) */
h1 {
  color: blue;
}

/* селектор класу */
.annotation {
  font-size: 10px;
}

#subscrabe-btn {
  font-size: 40px;
  color: brown;
  background-color: darkslategray;
}

/* subscrabe-btn - kebab case
                  - camelCase
                  - lowerCamelCase
                  - UpperCamelCase (PascalCase)
    subscrabe_btn - snake_case
    I_AM_CONSTANT
                   */